<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotations="false"
         failOnRisky="true"
         failOnWarning="true"
         colors="true">

    <testsuites>
        <testsuite name="Unit">
            <directory>Test/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>Test/Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>Api</directory>
            <directory>Console</directory>
            <directory>Controller</directory>
            <directory>Cron</directory>
            <directory>Helper</directory>
            <directory>Model</directory>
            <directory>Service</directory>
            <directory>Ui</directory>
        </include>
        <exclude>
            <directory>Test</directory>
            <directory>vendor</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <php>
        <env name="MAGENTO_ROOT" value="/var/www/html"/>
    </php>
</phpunit>
